    h1 
      {
       color: blueviolet;
      }
     body
         {

               background-color: skyblue;
         }

    h3
   {
       color: darkblue;
   }
   p
    {
       color:  rgb(75, 7, 75);
    }

     li
     {
       color: black;
     }

     i
     {
       color: darkorchid;
     }
    
     